<div class="container">


  <h1 id="main_title"> Linky Smalls - Tales from the miniature hood</h1>

  <form id="create_url" method="post" action="/urls" >
    <input type="text" name="long_url" placeholder="Enter url to shorten">
    <input type="submit" value="Shorten!!">
  </form>


  <ul>
      <% @urls.each do |url| %>
      <li>  <a href= "<%= url.long_url  %>"> <%= url.short_url %> </a></li>
      <% end %>
  </ul>



</div>
